/* main grid */

.main-grid {
    display: grid;
    grid-template-columns: auto;
    font-family: 'Roboto', sans-serif;
}

#nav-grid-item {
    background-color: white;
}

.section4-grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    width: 90%;
    margin: auto;
    text-align: center;

    padding: 75px 0;
}

